@font-face {
    font-family: "Playfair Display";
    src:url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}

body {
    background-color: #f79079;
    font-family: "Playfair Display";
}

header {
    background-color: #CEE6F3;
    text-align: center;
    padding: 12px;
    border: solid 5px #c45525;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

h1, h3{
    margin: 0px;
}

h2 {
    text-align: center;
    border: solid 5px #c45525;
    border-radius: 20px;
    font-style: oblique;
    background-color: #CEE6F3;
}

code, pre {
    font-size: 20px;
    color: goldenrod;
}

div.databox {
    background-color: #BA704F;
    padding: 20px;
    border: solid 5px #c45525;
    border-radius: 20px;
    margin: 20px 5% 20px 5%;
}

nav{
    stext-align: center;
}

ul.nav {
    border: 1px solid black;
    padding: 0px;
    margin: auto;
    padding: 0;
    width: max-content;
    text-align: center;
}

li.nav {
    display: inline-block;
}

ul li ul {
    color: #d4ac9d;
    font-size: 1.1em;
}

em {
    color: azure;
    font-style: inherit;
}

img {
    border-radius: 12px;
}

blockquote {
    background: rgb(0,0,0);
    background: linear-gradient(90deg,  rgba(255,200,0,1) 40%,rgba(186,112,79,100) 70%);
    text-align: left;
    margin-left: 0px;
    border-radius: 24px;
}

.italic{
    font-style: oblique;
}

.images{
    border: solid 5px #c45525;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: #91482d;
}

ul#playlist {
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0px;
    list-style-type: none;
}

ul#playlist li {
    border-bottom: 1px solid #a9a9a9;
    padding: 10px;background-image: linear-gradient(#f9f9f9, #e3e3e3);
}

ul#playlist li:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

ul#playlist li:last-child {
    border-bottom: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}