@font-face {
    font-family: "Playfair Display";
    src: url('Fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

#elixirs {
    border-width: thin;
    border-style: solid;
    border-color: #007e7e;
    width: 200px;
}

body {
    background-color: #f79079;
    font-family: "Playfair Display";
}

h1,
h2,
div {
    border: solid 5px #c45525;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

h1,
h2 {
    text-align: center;
    background-color: #CEE6F3;
}

h2 {
    font-style: oblique;
}

h3 {
    text-align: center;
}

div {
    border: solid 4px #c45525;
    border-radius: 20px;
    background-color: #BA704F;
    padding: 20px;
}

blockquote p {
    border: none;
}

ul li ul {
    border: none;
    color: #d4ac9d;
    /*
    margin-left: 5%;
    margin-right: 15%;
    margin-right: 15%;
    margin-right: 15%;
    margin-right: 15%;
    */
}

em {
    font-family: sans-serif;
    font-weight: bold;
    color: aliceblue;
}



code {
    font-size: 20px;
    color: goldenrod;
}

a:link {
    color: green;
}
a:visited {
    color: red;
}
a:hover {
    color: yellow;
}



