@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}

body {
    /*background-color: #f0ecbd; */
    background-color: #a2acca;
    font-family: "Playfair Display";
    color: #412722;
}

/*header {
background-color: #CEE6F3;
text-align: center;
padding: 12px;
border: solid 5px #c45525;
border-radius: 20px;
margin-left: 5%;
margin-right: 5%;
}*/

nav {
    display: inline;
    background-color: #002d60;
    /*color: #2176ff; */
}

h1 {
    font-size: 50px;
    font-style: oblique;
    /*padding-bottom: 8px;*/
    color: #412722;
    text-align: center;
    /*background-image: linear-gradient(180deg, #7ef2ea, 5%, #027373, 85%, #366b67);*/
}

h2,
h3,
h4 {
    padding-left: 18px;
    padding-right: 18px;
    width: fit-content;
    margin: auto;
    text-align: center;
    border: solid 2px #3e442b;
    border-radius: 8px;
    background-color: #ccd8b7;
    padding: auto;
}

h3 {
    border: none;
    background-color: transparent;
}

code,
pre {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

div.databox {
    /*background-color: #8dab7f;*/
    background-color: #b6c7d4;
    padding: 20px;
    padding-left: 45px;
    border: solid 3px #394032;
    border-radius: 9px;
    margin: 20px 5% 20px 5%;
}

ul.nav {
    /*border: 1px solid black;*/
    margin: auto;
    width: max-content;
    text-align: center;
}
li {
    margin: 5px;
}
li.nav {
    display: inline-block;
}

em {
    color: green;
    font-style: inherit;
}

img {
    border-radius: 12px;
    border: solid 5px #0d9276;
}

blockquote {
    /*background: linear-gradient(90deg, rgb(255, 200, 0) 40%, rgb(186, 112, 79) 70%);*/
    text-align: left;
    font-style: oblique;
    border-radius: 24px;
}

.italic {
    font-style: oblique;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: #91482d;
}

ul#playlist {
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    margin-top: 10px;
    list-style-type: none;
}

ul#playlist li {
    border-bottom: 1px solid #a9a9a9;
    padding: 10px;
    background-image: linear-gradient(#f9f9f9, #e3e3e3);
}

ul#playlist li:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

ul#playlist li:last-child {
    border-bottom: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
