@font-face {
    font-family: "Playfair Display";
    src: url('Fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

body {
    background-color: #f79079;
    font-family: "Playfair Display";
}

header {
    background-color: #CEE6F3;
    text-align: center;
    padding: 12px;
    border: solid 5px #c45525;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

h1, h3{
    margin: 0px;
}

h2 {
    text-align: center;
    border: solid 5px #c45525;
    border-radius: 20px;
    font-style: oblique;
    background-color: #CEE6F3;
}

code {
    font-size: 20px;
    color: goldenrod;
}

div.databox {
    background-color: #BA704F;
    padding: 20px;
    border: solid 5px #c45525;
    /*border-radius: 20px;*/
    margin-left: 5%;
    margin-right: 5%;
}

nav{
    stext-align: center;
}

ul.nav {
    border: 1px solid black;
    padding: 0px;
    margin: auto;
    padding: 0;
    width: max-content;
    text-align: center;
}

li.nav {
    display: inline-block;
}

ul li ul {
    color: #d4ac9d;
    font-size: 1.1em;
}




